/* PHASE 11: Icons */
[class*="icon-"] {
  background-image: url('../images/sprite.png');
  background-size: cover;
  display: inline-block;
  width: 25px;
  height: 0;
  overflow: hidden;
  padding-top: 25px;
}

.icon-reblog {
  background-position: 100% 45%;
}

.icon-favorite {
  background-position: 100% 22%;
}